{% block body %}
    <h1>Input file</h1>

    <p><a href="{{ url }}"><img height="100px" src="{{ url }}"/></a></p>

    <h1>Vision OCR API</h1>

    <p>{{ foundTexts[0].info["description"] }}</p>

    <h1>Translation API (PL => EN)</h1>

    <p>{{ translations[0] }}</p>

    <h1>Text-to-speech API (EN-US Female)</h1>

    <p><audio controls>
        <source src="{{ filename }}" type="audio/mp3">
        Your browser does not support the audio element.
        </audio></p>
{% endblock %}

{% block title %}

{% endblock %}

